.border {
  background: #cd2c3b;
  background: linear-gradient(153deg, #cd2c3b 20%, #124b9c 80%);
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
