@import './base/base.less';


body {
    background: @background_default;
    background: @background;
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    // min-height: 600px;
    color: @02;
    .flexcolumn();

    #root {
        .flexcolumn();
        width: 99%;

        header {
            .flexrow();
            width: 95%;
            justify-content: space-between;
    
            img {
                max-width: 200px;
                justify-self: flex-start;
                border-radius: 20%;
                padding: .5em;
            }
    
    
            nav {
                .flexrow();
                width: 75%;
                justify-content: space-evenly;

                a {
                    color: @02;
                }
            }
        }
        main {
            .flexcolumn();
            min-height: 600px;
            width: 95%;
        }
        footer {
            .flexrow();
            min-height: 200px;
            width: 95%;
            justify-content: space-between;

            .footer_links {
                .flexrow();
                width: 50%;
                justify-content: space-between;

                .footer_link_column {
                    .flexcolumn();

                    a {
                        color:@02;
                    }
                }
            }
            .footer_badges {
                .flexrow();
                width: 30%;
                justify-content: space-evenly;

                img {
                    max-width: 150px;
                    border-radius: 20%;
                    padding: .5em;
                }

                .footer_socials {
                    background-color: @02;
                    border-radius: 20%;
                    padding: .5em;
                }
            }
        }
    }
}




@import './base/media.less';